doctype html 
html 
    head 
        title user_page 
        block styles 
    body 
        nav#navbar1
            ul.nav
                li #[a(href="/user/dashboard") Dashboard] 
                li #[a(href="#") E-Library] 
                li #[a(href="/routine") Routine] 
                li #[a(href="#") Notices] 
                li#dropdown #[a Account] 
                    ul.imp
                        li #[a#for_fun(href="/user/profile") Profile]
                        li #[a#for_fun(href="#") Results]
                        li #[a#for_fun(href="/user/settings") Settings]
                        li #[a#for_fun(href="/user/signout") Sign Out]

        div.one
            block body_codes

        block scripts