extends base_user.pug

block styles 
    style 
        include ../../static/base_user.css
        include ../../static/user_page.css

block scripts
    script
        include ../../static/base_user.js
        include ../../static/user_page.js
  
block body_codes 
    div.one 
        div.contain_pic 
            div.two
                img.hello(alt="Photo" src="../images/english.jpg")
            label Utsav Kharel 
        
        div.creds
            fieldset 
                legend Credentials 
                div.left
                    p.name Username 
                    p.email Email 
                    p Phone: 
                    p Address: 
                    p Class: 
                    p Year: 
                div.right
                    script.
                        var records = #{records}
                        records.map((record) => {
                            p= record
                        })





