doctype html 
html 
    head 
        title user_page 
        block styles 
    body 
        nav#navbar1
            ul.nav
                li #[a#for_fun(href="/home.html") Home] 
                li #[a#for_fun(href="#") E-Library] 
                li #[a#for_fun(href="/routine.html") Routine] 
                li #[a#for_fun(href="#") Notices] 
                li#dropdown Account
                    ul.imp
                        li #[a#for_fun(href="#") Profile]
                        li #[a#for_fun(href="#") Results]
                        li #[a#for_fun(href="#") Settings]
                        li #[a#for_fun(href="#") Sign Out]

        div.one
            block body_codes

        block scripts