doctype html 
html 
    head 
        title Service Page
        link(rel="stylesheet", href="../static/services.css")
    body 
        nav
            ul 
                li.sta
                    li.sim #[a(href="/home") Home] 
                    li.sim #[a(href="/about") About]
                    li.sim #[a(href="/contacts") Contact]
                li.dyn
                    li.sign #[a(href="/signin") Signin]
                    li.sign #[a(href="/signup") Signup]
        block content  