.instructions{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 35px auto;
    color: grey;
    font-style: italic;
}
form{
    border: 1px solid black;
    border-radius: 7px;
    width: 35%;
    text-align: justify;
    margin: 21px auto;
    background-color: rgb(221, 215, 215);
}
.text-input{
    display: block;
    width: 84%;
    padding: 7px 7px;
    margin: 21px auto;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#description{
    display: block;
    width: 84%;
    height: 140px;
    margin: 28px auto;
    background-color: white;
    padding: 7px 7px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.btn {
    display: block;
    padding: 7px 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 21px;
    margin: 42px auto;
    cursor: pointer;
}
