form{
    width: 28%;
    min-width: 400px;
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
label{
    width: auto;
    display: block;
    margin: 14px 21px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: bold;
    text-shadow:2px 2px grey;
}
input{
    display: block;
    width: 25%;
    min-width: 350px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    font-weight: bold;
    margin: 14px 21px;
    font-style: italic;
}
div{
    text-align: center;
}
button{
    font-size: 21px;
    font-style: italic;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    margin: 10px 160px;
    cursor: pointer;
}